text { fill: #000; }

.item circle { stroke-width: 1.3px; stroke: #444; stroke-opacity: 1; fill-opacity: .9; }
.item text { fill: #000; fill-opacity: .7; font-weight: bold; alignment-baseline: middle; }

.item:hover circle { stroke-width: 1.75px; stroke: #000; fill-opacity: 1; }
.item:hover text { fill: #000; fill-opacity: 1; font-weight: bold}

.selectedItem circle, .selectedItem:hover circle { stroke: #000; stroke-width: 3.5px; fill-opacity: 1; }
.selectedItem text, .selectedItem:hover text { fill: #000; fill-opacity: 1;font-weight: bold }

.axis path, .axis line { fill: none; stroke: #000; stroke-width: 0.25px; }
.grid { fill: none; stroke: #777777; stroke-opacity: 0.5; stroke-width: 0.5px; }
.origin { stroke: #AA0000; stroke-opacity: 0.47; stroke-dasharray: 4 2; stroke-width: 0.75px; }